#wp-admin-bar-csmp-maintenance-mode > .ab-item {
    background-color: #ff0000; 
    color: #ffffff; 
}

#wp-admin-bar-csmp-maintenance-mode > .ab-item:hover {
    background-color: #cc0000; 
    color: #ffffff; 
}

#adminmenu .wp-submenu a[href="options-general.php?page=csmp-settings"] {
    background-color: #760dd8; 
    color: #fff; 
}

#accordion-section-csmp_social_icons_section .accordion-section-title {
    background-color: #760dd8 !important;
    color: #fff !important;
    padding: 10px !important;
    border-radius: 5px !important;
}

#accordion-section-csmp_footer_section .accordion-section-title {
    background-color: #760dd8 !important;
    color: #fff !important;
    padding: 10px !important;
    border-radius: 5px !important;
}