/* style.css */
/* .coming-soon {
    text-align: center;
    font-size: 2em;
    color: #333;
    padding: 100px;
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
} */
